@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body{
  background-color:#ffe766;
}

.fs-comfortaa{
  font-family: 'Comfortaa', cursive;
}
.text-500{
  font-weight: 500;
}
.text-700{
  font-weight: 700;
}
.text-600{
  font-weight: 600;
}

.fs-OpenSans{
  font-family: 'Open Sans', sans-serif;
}

.text-primary{
  color: #483698 !important;
}
.bg-primary{
  background-color: #483698 !important;
}
.bd-primary{
  border: 1px solid #483698 ;
  
}

/* --------------------------------------- */

.text-secondary{
  color: #ffff !important;
}
.bg-secondary{
  background-color: #ffff !important;
}
.bd-secondary{
  border: 1px solid #ffff !important;

}
.text-secondary-1{
  color: #f9f9f9 !important;
}
.bg-secondary-1{
  background-color: #f9f9f9 !important;
}
.bd-secondary-1{
  border: 1px solid #f9f9f9 !important;

}

.text-secondary-4{
  color: #8a8a8a !important;
}
.bg-secondary-4{
  background-color: #8a8a8a !important;
}
.bd-secondary-4{
  border: 1px solid #8a8a8a !important;

}


.text-secondary-7{
  color: #282828 !important;
}
.bg-secondary-7{
  background-color: #282828 !important;
}
.bd-secondary-7{
  border: 1px solid #282828 !important;

}
/* --------------------------------------- */

.text-terciary{
  color: #ffe766 !important;
}
.bg-terciary{
  background-color: #ffe766 !important;
}
.bd-terciary{
  border: 1px solid #ffe766 !important;
}

.text-terciary-1{
  color: #fbde40 !important;
}
.bg-terciary-1{
  background-color: #fbde40 !important;
}
.bd-terciary-1{
  border: 1px solid #fbde40 !important;
}

/* --------------------------------------- */

.text-suport{
  color: #dc3545 !important;
}
.bg-suport{
  background-color: #dc3545 !important;
}
.bd-suport{
  border: 1px solid #dc3545 !important;
}
/* --------------------------------------- */

.bdr-5{
  border-radius: 5px;
}

.w-85{
  width: 85%;
}
.w-105{
  width: 105%;
}